* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 3em;
  min-height: 100vh;
  background-image: url("../backgroundimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  flex: 1;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  color: navy;
  border-top: 2px solid navy;
  text-align: center;
  font-family: "Dosis", sans-serif;
  width: 100%;
}

footer a {
  color: navy;
}

.chatbot {
  max-width: 100%;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-header h1 {
  margin: 0;
  text-align: center;
  color: navy;
  font-family: "Permanent Marker", cursive;
  font-size: 5em;
}

.chat-header h5 {
  display: inline-block;
  text-align: center;
  margin: 0;
  color: navy;
  font-family: "Dosis", sans-serif;
}

.chat-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.chat-form textarea[type="text"] {
  margin-right: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid navy;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
  box-sizing: border-box;
  min-height: 5em;
  min-width: 90%;
  max-width: 90%;
}

*:focus {
  outline: 0;
}

.chat-form button[type="submit"] {
  background-color: navy;
  color: white;
  font-size: 3em;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.user img {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 40%;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.error img {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 40%;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  opacity: 0;
  transform: translateY(100%);
  animation: fade-in-bottom 0.5s forwards;
}

.aibot img {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 40%;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  opacity: 0;
  transform: translateY(100%);
  animation: fade-in-bottom 0.5s forwards;
}

.aibot p {
  max-width: 70%;
  background-color: #ffffff;
  color: navy;
  border: none;
  align-self: flex-end;
  float: left;
  text-align: left;
  opacity: 0;
  transform: translateY(100%);
  animation: fade-in-bottom 0.5s forwards;
  padding: 10px;
  border-radius: 20px;
}

.user p {
  max-width: 70%;
  background-color: #ffffff;
  color: navy;
  border: none;
  align-self: flex-start;
  float: right;
  text-align: left;
  padding: 10px;
  border-radius: 20px;
}

.error p {
  max-width: 70%;
  background-color: #ff9393;
  color: #272727;
  border: 1px solid #ccc;
  align-self: flex-end;
  float: left;
  text-align: left;
  opacity: 0;
  transform: translateY(100%);
  animation: fade-in-bottom 0.5s forwards;
  padding: 10px;
  border-radius: 20px;
}

.loading-animation {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  border-top-color: navy;
  animation: spin 1s ease-in-out infinite;
}

.loading-text {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: navy;
  color: white;
  border: 1px solid navy;
  align-self: flex-end;
  float: left;
  text-align: left;
}

@media only screen and (max-width:1200px) {
  .chat-form button[type="submit"] {
    min-width: 50px;
    max-width: 100px;
  }
}

/* Animation */

@keyframes move-color {
  0% {
    left: 0%;
  }
  50% {
    left: 50%
  }
  100% {
    left: calc(100% - 100px)
  }
}

@keyframes fade-in-bottom {
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}